body{
    font-family: sans-serif;
    background-image: url("img/pic6.jpg");
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
}
.container{
    width: 380px;
    margin-top: 20vh;
    margin: auto;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.3);
}
.header {
    text-align: center;
    padding-top: 75px;
}
.header {
    color: #333;
    font-size: 45px;
    margin-bottom: 80px;
}
.main{
    text-align: center;
}
.main input, button{
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 40px;
    box-sizing: border-box;
    font-size: 15px;
    color: #333;
    margin-bottom: 40px;
    border-radius: 20px;
}
.main button{
    padding-left: 0px;
    background-color: #83acf1;
    letter-spacing: 1px;
    font-weight: bold;
}
.main button:hover{
    box-shadow: 2px 2px 5px #555;
    background-color: #7799d4;
}
.main input:hover{
    box-shadow: 2px 2px 5px #555;
    background-color: #ddd;
}
.main span{
    position: relative;

}
.main i{
   position: absolute; 
   left: 15px;
   color: #333;
   font-size: 16px;
   top: 2px;
}
